.elementor-5138 .elementor-element.elementor-element-01b4812 {--iteration-count: infinite;}
.elementor-5138 .elementor-element.elementor-element-01b4812 .elementor-headline {text-align: center;}
.elementor-5138 .elementor-element.elementor-element-40ff927 .jet-animated-text {justify-content: center;}